<div class="container mt-4">
  <h2 class="mb-4">Mi Colección Personal</h2>
  
  <div class="row">
    <div class="col-md-4" *ngFor="let moneda of misMonedas">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ moneda.nombre }}</h5>
          <p class="card-text">Época: {{ moneda.epoca }}</p>
          <button class="btn btn-outline-danger btn-sm">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="misMonedas.length === 0" class="alert alert-info">
    
  </div>
</div>